<center>
    <div id="container">
  		<div class="row">
  			<div class="panel panel-primary">
  				<div class="panel-body">
  					<div class="form-group">
  						<h2>Edit <%= resource_name.to_s.humanize %></h2><hr>
  					</div>
            
             <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              
              <div class="field">
                <%= f.label :FirstName %><br />
                <%= f.text_field :FirstName, autofocus: true, :class => 'form-control', :placeholder => 'FirstName' %>
              </div>
              
              <div class="field">
                <%= f.label :LastName %><br />
                <%= f.text_field :LastName, :class => 'form-control', :placeholder => 'LastName' %>
              </div>
              
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email Address' %>
              </div>
            
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
                <small>(leave blank if you don't want to change it)</small>
              </div>
            
              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
              </div>
            
              <div class="field">
                <%= f.label :current_password %><br />
                <%= f.password_field :current_password, autocomplete: "off" , :class => 'form-control'%>
                <small>(we need your current password to confirm your changes)</small>
              </div>
            
              <div class="actions">
                <%= f.submit "Update", :class => 'btn btn-primary btn-block' %>
              </div>
            <% end %>
            <hr>
            <h3>Close my account</h3>
            <small>(Are you unhappy with your account?)</small>
            <p class="center"> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger right' %></p>
            
            <%= link_to "Back", :back, :class => 'btn btn-success left', :id => 'mycolor' %>
        </div>
      </div>
  </div>
</center>