<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.LastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_registration_path, :class => 'btn btn-success', :id => 'mycolor' %> |
<%= link_to 'Back', users_path, :class => 'btn btn-primary', :id => 'mycolor' %>
