<%= form_for(@order) do |f| %>

<% if @order.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
                  
                        <ul>
                        <% @order.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
<!---
  <div class="field">
    <%= f.label :Size %><br>
    <%= f.text_field :Size %>
  </div>
  <div class="field">
    <%= f.label :Toppings %><br>
    <%= f.text_field :Toppings %>
  </div>
  <div class="field">
    <%= f.label :Price %><br>
    <%= f.text_field :Price %>
  </div> -->
  
  
  <!--- my codes  -->
    
    <div class="panel panel-primary pizza_panel">
      <div class="panel-heading">NEW PIZZA ORDER</div>
          <div class="panel-body">
                                  
              <div class="panel panel pizza_panel" style="float : left; width : 58%; margin-right:15px;">
                
                 <div class="panel panel-primary pizza_panel" style="float : left;  width : 100%; ">
                    <div class="panel-heading">PIZZA SIZE</div>
                    <div class="panel-body">
                      <%= f.radio_button("Size", "Small", :value => "Small") %>
                      <%= label_tag(:Small, "Small") %><br>
                      <%= f.radio_button("Size", "Medium", :value => "Medium") %>
                      <%= label_tag(:Medium, "Medium") %><br>
                      <%= f.radio_button("Size", "Large", :value => "Large") %>
                      <%= label_tag(:Small, "Large") %><br>
                      <%= f.radio_button("Size", "Extra Large", :value => "Extra Large") %>
                      <%= label_tag(:Medium, "Extra Large") %><br>
                    </div>
                  </div>
                  
                 <p></p>
                 <div class="panel panel-primary pizza_panel" style="float : left;  width : 100%; ">
                    <div class="panel-heading">CRUST</div>
                    <div class="panel-body">
                      <%= f.check_box( :Crust, {}, "Stuffed", "None") %>
                      <%= label_tag(:Crust, "Stuffed") %>
                    </div>
                  </div>  
                    
                      <div class="panel panel-primary pizza_panel" style="float : left; width : 49%; ">
                              <div class="panel-heading">CHOOSE MEATS</div>
                              <div class="panel-body">
                                  <%= check_box_tag 'order[Toppings][]', 'Pepperoni', checked('Pepperoni'), id: 'Toppings_Pepperoni' %>
                                  <%= label_tag 'Toppings_Pepperoni', 'Pepperoni' %><br>
                                  
                                  <%= check_box_tag 'order[Toppings][]', 'Beef', checked('Beef'), id: 'Toppings_Beef' %>
                                  <%= label_tag 'Toppings_Beef', 'Beef' %><br>
                                  
                                  <%= check_box_tag 'order[Bacon][]', 'Bacon', checked('Bacon'), id: 'Toppings_Bacon' %>
                                  <%= label_tag 'Toppings_Bacon', 'Bacon' %><br>
                                  
                                  <%= check_box_tag 'order[Toppings][]', 'Chicken', checked('Chicken'), id: 'Toppings_Chicken' %>
                                  <%= label_tag 'Toppings_Chicken', 'Chicken' %><br>
                                  
                                  <%= check_box_tag 'order[Toppings][]', 'Sausage', checked('Sausage'), id: 'Toppings_Sausage' %>
                                  <%= label_tag 'Toppings_Sausage', 'Sausage' %>
                              </div> 
                             </div>  
                                
                          <div class="panel panel-primary pizza_panel" style="float : left; width : 49%;">
                              <div class="panel-heading">CHOOSE NONE MEATS</div>
                              <div class="panel-body">
                                  <%= check_box_tag 'order[Toppings][]', 'Pineapple', checked('Pineapple'), id: 'Toppings_Pineapple' %>
                                  <%= label_tag 'Toppings_Pineapple', 'Pineapple' %><br>
                                  
                                  <%= check_box_tag 'order[Toppings][]', 'Onion', checked('Onion'), id: 'Toppings_Onion' %>
                                  <%= label_tag 'Toppings_Onion', 'Onion' %><br>
                                  
                                  <%= check_box_tag 'order[Toppings][]', 'Tomatoes', checked('Tomatoes'), id: 'Toppings_Tomatoes' %>
                                  <%= label_tag 'Toppings_Tomatoes', 'Tomatoes' %><br>
                                  
                                  <%= check_box_tag 'order[Toppings][]', 'Green Pepper', checked('Green Pepper'), id: 'Toppings_GreenPepper' %>
                                  <%= label_tag 'Toppings_GreenPepper', 'Green Pepper' %><br>
                                  
                                  <%= check_box_tag 'order[Toppings][]', 'Mushroom', checked('Mushroom'), id: 'Toppings_Mushroom' %>
                                  <%= label_tag 'Toppings_Mushroom', 'Mushroom' %>
                              </div>                             
                          </div>   
                    
              </div><!--  END OF ORDERS -->
              
              <div class="panel panel-primary pizza_panel" style="float : left; width : 39%;">
                 <div class="panel-heading">DELIVERY INFORMATION</div>
                    <div class="panel-body" style="margin-bottom:10px;">
                     
                      <fieldset class="form-group" style="float : left; width : 49%; margin-right:3px;">
                                <label for="Firstname">First Name *</label>
                                <input type="text" class="form-control" id="firstname" placeholder="First Name">
                              </fieldset>
                                      
                              <fieldset class="form-group" style="float : left; width : 49%;">
                                <label for="Lastname">Last Name *</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                              </fieldset>
                               <P><br></P>       
                              <fieldset class="form-group" style="float : left; width : 98%;">
                                <label for="Address">Address 1 *</label>
                                <input type="text" class="form-control" id="Address" placeholder="Address">
                              </fieldset>
                                      
                              <fieldset class="form-group" style="float : left; width : 49%; margin-right:3px;">
                                <label for="City">City *</label>
                                <input type="text" class="form-control" id="City" placeholder="City">
                              </fieldset>
                              
                              <fieldset class="form-group"  style="float : left; width : 49%;">
                                    <label for="Location">Location</label> 
                    									<select class="form-control" id="Location">
                    										 <option value = "0.10">Manitoba</option>
                    										 <option value = "0.13">Ontario</option>
                    										 <option value = "0.11">Quebec</option>
                    										 <option value = "0.15">Saskatchewan</option>
                                      </select>
                                </fieldset>	
                                      
                              <fieldset class="form-group" style="float : left; width : 49%; margin-right:3px;">
                                <label for="PostalCode">Postal Code *</label>
                                <input type="text" class="form-control" id="PostalCode" placeholder="Postal Code e.g N2P 1E1">
                              </fieldset>
                                      
                              <fieldset class="form-group"style="float : left; width : 49%;">
                                <label for="Phone">Phone No. *</label>
                                <input type="text" class="form-control" id="Phone" placeholder="Phone No.">
                              </fieldset> 
                          </div>  
                      
                          <center>
                          <div class="panel panel-primary pizza_panel" style="width : 92%; text-align:left;">
                              <div class="panel-heading">QUANTITY</div>
                              <div class="panel-body">
                                 <fieldset class="form-group">
                								<select class="form-control" id="Qty">
                									<option>1</option>
                									<option>2</option>
                									<option>3</option>
                									<option>4</option>
                									<option>5</option>
                									<option>6</option>
                									<option>7</option>
                									<option>8</option>
                									<option>9</option>
                									<option>10</option>
                                </select>
                          </fieldset>
                              </div>                             
                          </div>   
                          </center>  
                      <p></p>
                      <div style="float : right; margin : 10px;"><!-- action -->
                        <%= f.submit :class => 'btn btn-primary btn-lg' %>
                      </div>
                      
                      <div style="float : left; margin : 10px;">
                        <%= link_to 'Back', orders_path, :class => 'btn btn-danger btn-lg mycolor', :id => 'mycolor' %>
                      </div>
                    </div>
              </div>
              
              
              
           </div> 
    </div>  
  <!-- ENDS -->
  
<% end %>
