<p id="notice"><%= notice %></p>

<h1>Pizza Orders</h1>
<div><%= link_to 'New Order', new_order_path, :class => 'btn btn-primary', :id => 'mycolor', :style => 'float : right; margin-top:-40px;' %></div>

<hr>

<table class="table table-striped" style = "width:100%;">
  <thead>
    <tr>
      <th>Order#</th>
      <th>Qty</th>
      <th>Size</th>
      <th>Crust</th>
      <th>Toppings</th>
      <th>Price</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <th><%= order.quantity %></th>
        <td><%= order.Size %></td>
        <td><%= order.Crust %></td>
        <td><%= order.Toppings %></td>
        <td>$<%= order.Price %></td>
        <td><strong id="completed">Completed</strong></td>
        <td><%= link_to 'Show', order, :class => 'btn btn-info', :id => 'mycolor' %></td>
        <td><%= link_to 'Edit', edit_order_path(order), :class => 'btn btn-primary', :id => 'mycolor'%></td>
        <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :id => 'mycolor' %></td>
      </tr>
    <% end %>
  </tbody>
</table>



